/* ---------- GREY SCALE ---------- */

$lightGrey     : #e3e3e3;
$grey          : #646971;

/*--------- SITE STYLES ---------- */

$backgroundColor : #fafafa;
$defaultTextColor: #4a4a4a;

$primary   : #2E5491;
$secondary : #D0D6E0;

$primaryAccent : #6c95d5;

/* Course Catalog Specific Colors -- */
$confirm : #09B038;
$cancel  : #E05252;
$warning : #D79B29;

/* Box Shadow */

$floatingObject : 0px 0px 30px rgba(0,0,0,0.1), 0px 1px 4px rgba(0,0,0,0.2);

/* ------- SOCIAL MEDIA ------- */

$googleRed    : #ff5858;
$facebookBlue : #4267b2;
$twitterBlue  : #1da1f2;

/* ------- GRADIENTS ------- */

$gradientOne: linear-gradient(180deg, #F3F6FA 0%, rgba(243, 246, 250, 0) 100%);
